.app {
  width: 100%;
  height: 100vh;
  background: #dddddd;
  padding: 10px;
}

.header {
  background: #6aa84f;
  padding: 20px;
  width:95%;
  height:50px;
}
.bshh{
  display: flex;
  width: 100%;
  height: 90%;

}

.navigation {
  width: 15%;
margin-top: 20px;

  background: #6fa8dc;
  padding: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
  gap: 10px;
  background: #e06666;
  width: 80%;
  margin:20px;
}
.sub{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding : 0 auto;
  width:100%;
  height: 80%;
  
}

.sub-content {
  background: #ffd966;
  flex: 1;
  padding: 20px;
  margin: 10px;
}

.advertisement {
  background: #b4a7d6;
  width: 94%;
  padding: 20px;
  margin: 10px;
  margin-right: 30px;
}
