
button {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: cadetblue
}

input {
  margin: 8px;
  padding: 6px;
  color:cadetblue
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #cccccc;
  padding: 8px;
}

